.chapter {
}

.verse {
}

.line {
  user-select: none;
  cursor: default;
}

.lineWithCode {
  user-select: none;
  cursor: default;
}

.verseIndex:before {
  content: attr(data-index) '.';
}

:global(.show).verseVersion:before {
  content: '['attr(data-version)']\00a0';
}
.word {

}
.code {
  color: navy;
}
.code:before {
  content: '\003c'attr(data-lang) attr(data-value) '\003e';
}
