.titleContainer {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.titleItem {
  flex-grow: 1;
}

.chapter {
  font-size: 14px;
  line-height: 1.6em;
}

.selected.verse,
.verse:hover {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: darkgray;
}
.selected.verse{
  text-decoration-color: darkgreen;
}
.verse + .verse {
  margin-top: 6px;
}

.line {
  user-select: none;
  cursor: default;
}

.lineWithCode {
  user-select: none;
  cursor: default;
}
.verseIndex {
  display: inline-block;
  width: 3em;
  text-align: right;
}
.verseIndex:before {
  content: attr(data-index) '.';
}
.verseVersion {
  display: inline-block;
  width: 4em;
  text-align: right;
}
:global(.show).verseVersion:before {
  content: '['attr(data-version)']\00a0';
}
.word {
}
.code {
  color: navy;
}
.code:before {
  content: '\003c'attr(data-lang) attr(data-value) '\003e';
}

.versionItem {
  font-size: 12px;
  min-width: 200px;
}
