.titleContainer {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.titleItem {
  flex-grow: 1;
}

.chapter {
  font-size: 14px;
  line-height: 1.6em;
}

.verse {
}

.line {
  user-select: none;
  cursor: default;
}

.lineWithCode {
  user-select: none;
  cursor: default;
}

.verseIndex:before {
  content: attr(data-index) '.';
}

:global(.show).verseVersion:before {
  content: '['attr(data-version)']\00a0';
}
.word {
}
.code {
  color: navy;
}
.code:before {
  content: '\003c'attr(data-lang) attr(data-value) '\003e';
}
.selected .lineContent {
  border-bottom: 1px dashed blue;
}

.versionItem {
  font-size: 12px;
  min-width: 200px;
}
