runtime = electron
target = 1.7.9
target_arch = x64
disturl = https://atom.io/download/atom-shell

phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
registry=https://registry.npm.taobao.org
