.tabs {
  /* border: 1px solid black; */
}
.tabPanel {
}
.tabHead {
  display: flex;
  position: relative;
}
.tabLine {
  position: absolute;
  border-top: 1px solid #d4d4d5;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
}
.tabBody {
}
.tabControl {
}

.tabControl > * + * {
  margin-left: 3px;
}
.tabControl button {
  padding: 0 3px;
}
.tabControlList {
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  /* position: absolute;
  right: 0; */
}
.tabControlList_front {
}
.tabControlList_rear {
}
.tabTitleList {
  /* flex item props */
  flex: 1;

  /* flex container props */
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  width: 0px;
  overflow: hidden;
  /* overflow-y: visible; */
  /* overflow-y: initial; */
  margin-left: 10px;
}
.tabTitle {
  flex: 1;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;

  display: block;
  position: relative;
  cursor: default;
  border-bottom: none;
  border-left: 1px solid rgba(212, 212, 212, 0.4);
  border-right: 1px solid rgba(212, 212, 212, 0.4);
  border-top: 1px solid rgba(212, 212, 212, 0.4);
  padding: 0.52857143em 1.42857143em;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
  font-size: 14px;
}
.tabTitle:hover {
  opacity: 1;
}
.tabTitle + .tabTitle {
  margin-left: 3px;
  white-space: nowrap;
}
.tabTitleSelected {
  background: linear-gradient(rgb(238, 238, 238), white);
  color: rgba(0, 0, 0, 0.95);
  border-top-width: 1px;
  border-color: #d4d4d5;
  font-weight: 700;
  box-shadow: none;
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
}
.tabTitle .close {
  visibility: hidden;
  color: rgba(0, 0, 0, 0.37);
  position: absolute;
  right: 3px;
  top: 1px;
}
.tabTitle:hover .close {
  visibility: visible;
}
.close:hover {
  color: rgba(0, 0, 0, 0.87);
}
.tabTitleSelected::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #fff;
  z-index: 2;
}
.emptyTitle {
  color: #AAA;
}
.isDragging {
  display: none;
}
.isOver {
  background: linear-gradient(rgba(143, 233, 255, 0.5), white);
}
.overBefore {
  border-left: 3px solid rgba(123, 123, 123, 1);
}
.overAfter {
  border-right: 3px solid rgba(123, 123, 123, 1);
}
