.bibleViewWrapper {
  padding: 0;
}
.bibleSelectorPopup {
  /* padding: 10px!important; */
}
.bibleSelectorPopup::before {
  /* opacity: 0!important; */
}
.bibleViewTop {
  height: 36px;
  padding: 16px;
  box-sizing: content-box;
  border-top: 0!important;
}
.chapterSwitch {
  float: right;
}
.bibleView{
  overflow-y: auto;
}
.toolkits {
  float: right;
}
