.sideBar {
  background-color:rgba(0, 0, 0, 0.404)
}
.sideBarItems {
  width: 100%;
  text-align: center;
}
.sideBarPrimaryItems {
  position: absolute;
  top: 0;
  padding-top: 32px;
  composes: sideBarItems;
}
.sideBarToolItems {
  position: absolute;
  bottom: 0;
  padding-bottom: 12px;
  composes: sideBarItems;
}
.sideBarItem {
  padding: 5px 0px;
  margin-bottom: 6px;
  color: white;
}
.sideBarItemIcon {
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}
.sideBarItemIcon:hover {
  background-color: rgba(255, 255, 156, 0.2);
}
.highlightedItem {
  background-color: rgba(131, 131, 131, 0.404)
}
