.dialog {
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  position: fixed;
  border-radius: 4px;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  border: 1px solid gray;
  min-width: 400px;
}

.dialog.dialogScale {
  visibility: visible;
  /* transform: scale(1); */
}
.dialog.dialogOpacity {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.title {
  margin: 0;
	font-weight: 400;
	font-size: 1.6em;
	padding: 0 0 1em;
  margin: 0;
  color: black;
  cursor: default;
}

.content {
  min-height: 50px;

}

.buttonsPlaceholder {
  height: 31px;
}

.buttons {
  text-align: right;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

.close {
  color: black;
  position: absolute;
  top: 5px;
  right: 0px;
  opacity: 0.6;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
  color:black;
}
